<footer>
    <div>
<!--       <p class="f6 gray mt6 lh-copy">
        {{ .Site.Copyright  | safeHTML }}
      </p> -->
  <style>
    #masta:hover{
      stroke: black !important;
      fill:  black !important;
    }
  </style>
<a rel="me" class="is-size-5" href="https://ebooks.social/@matt" title="mastodon verification" style="text-decoration: none;">
<svg id="masta" style="stroke:white; fill: white;" width="20px" height="20px" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
 <g>
  <path  d="m5 58.801v5.8008l2.8984-2.9023h19.703v-9.5l4-5.6992v33h9.6992l5-13.602h18.5l5.3008 14.203h8.6992l4.3008-13.902 3.5-18.898h3.7969l0.60156 16h4v-16.801l-7.5-7.6016-0.30078-5.7969-22-12.203-33.098-1-6.1016 2.7031-6.8008 9.7969v25.801z"/>
  <path d="m14.301 51.102l14.301-1.6016-3.3008 4.8984z"/>
 </g>
</svg>
</a>   


    </div>
  </footer>
  
  {{ partial "scripts.html" . }}

