<link
  rel="stylesheet"
  href="{{ .Site.BaseURL }}css/bulma.min.css"
/>

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />

<link
  rel="stylesheet"
  href="{{ .Site.BaseURL }}css/github-gist.css"
/>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto&display=swap" rel="stylesheet">

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f09496fc47cb4d31ae2591c0f4945c3e"}'></script><!-- End Cloudflare Web Analytics -->

